{   
    "env": {
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": "eslint-config-airbnb-base",
    "rules" : {
        "linebreak-style": "off",
        // "no-console": "off",
        "indent": ["warn", 4]
    }
}