@import 'lib/normalize.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #3b3b3b;
    font-weight: 300;
}

:root {
    scroll-behavior: smooth;
    --color-theme-light: #3b3b3b;
    --color-keyboard-theme-light: rgb(245, 244, 243);
    --color-keycap-theme-light: rgb(245, 244, 243);
    --color-keycap-border-theme-light: rgb(209 209 209);
    --color-special-keys-theme-light: rgb(199, 199, 193);
    --color-active-theme-light: rgb(51, 189, 97);
    --color-text: var(--color-theme-light);
    --color-keyboard: var(--color-keyboard-theme-light);
    --color-keycap: var(--color-keycap-theme-light);
    --color-keycap-border: var(--color-keycap-border-theme-light);
    --color-special-keys: var(--color-special-keys-theme-light);
    --color-active: var(--color-active-theme-light);
}

body {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) [center-start] 72rem [center-end] minmax(2rem, 1fr);
    grid-template-rows: auto 18rem auto;
}

.header {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: center;
}

h1 {
    margin-block: 2rem;
    color: var(--color-text);
    font-size: 4rem;
}

p {
    grid-column: center-start / center-end;
    font-size: 1.3rem;
}

.textarea {
    grid-column: center-start / center-end;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    resize: none;
}

.keyboard {    
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.5rem;
    margin-block: 2rem;
    background-color: var(--color-keyboard);
    border-radius: 5px;
}

.keyboard__line {
    display: flex;
    justify-content: space-around;
    column-gap: 0.5rem;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-keycap);
    border: 2px solid var(--color-keycap-border);
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
    user-select: none;
}

.key--wide {
    flex: 1;
}

.key--xwide {
    flex: 6;
    padding-bottom: 2rem;
}

.special {
    padding-inline: 1rem;
    font-size: 1.8rem;
    background-color: var(--color-special-keys);
    border-color: var(--color-special-keys);
}

.no-text {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.active {
    border-color: var(--color-active);
    background-color: var(--color-active);
}